/* font-family: 'Star Wars', sans-serif; */
body {
    background-color: black;
}

.header {}

.header__title {
    font-family: 'Star Wars', sans-serif;
    font-size: 70px;
    color: yellow;
    text-align: center;
    padding: 40px 0;

}

.container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 0 25px;
}


.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding-bottom: 120px;
}

.card__list {
    display: flex;
    flex-direction: column;
    /* align-content: flex-start; */
}

.card {
    border: 2px solid white;
    border-radius: 30px;
    padding: 35px 30px 25px 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__info {}

.card__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card__title-img {
    width: 120px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 5px;
}

.title-img {
    border-radius: 50%;
}

.card__title-text {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}



.card__item {

    padding-bottom: 15px;
    /* display: inline-block; */



}

.card__item-text {
    display: inline-block;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: white;
    z-index: 1;
    font-size: 24px;
    position: relative;
    cursor: pointer;
}

.card__item-text::before {
    content: '';
    width: calc(100% + 10px);
    height: 12px;
    background: greenyellow;
    opacity: 0.6;
    filter: blur(5px);
    border-radius: 0 4px 4px 0;
    display: none;
    position: absolute;
    top: 33px;
    left: 0;

    animation: expandBefore 0.3s forwards;
}

.card__item-text::after {
    content: '';
    width: 100%;
    height: 3px;
    background: rgb(248, 253, 239);
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 36px;
    left: 0;

    animation: expandAfter 0.3s forwards;

}

.card__item-text:hover::before,
.card__item-text:hover::after {
    display: block;
}


@keyframes expandBefore {
    from {
        width: 0;
        /* Начальная ширина */
    }

    to {
        width: calc(100% + 10px);
        /* Конечная ширина */
    }
}

@keyframes expandAfter {
    from {
        width: 0;
        /* Начальная ширина */
    }

    to {
        width: 100%;
        /* Конечная ширина */
    }
}

.card__pagination {
    padding-top: 20px;
    display: flex;
    justify-content: center;

}

.page-link {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: white;
    background: black;
    cursor: pointer;
}

.card__img {}


.modal-content {
    border: 2px solid white;
    border-radius: 30px;
    padding: 35px 30px 25px 30px;
    background-color: black;
}

.modal-title {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: white;
    font-size: 24px;
}

.modal__desc {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: white;
    font-size: 18px;
}

.btn-secondary{
    --bs-btn-bg: #000;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    opacity: 0.5;
}

.btn-secondary:hover{
    color: #000;
    opacity: 1;
}

.fade{
    background-color: #000000d4;
}


.close-icon{
    color: #fff;
}

.btn-close{
     --bs-btn-close-hover-opacity: 1;
     --bs-btn-close-focus-shadow: 0 0 0 0.25rem #000;
     display: flex;
     align-items: center;
     justify-content: center;
}